In [0]:
  !curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [0]:
from fastai.tabular import *

In [0]:
from fastai import *

In [0]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="torch.nn.functional")

In [0]:
untar_data(URLs.ADULT_SAMPLE)

PosixPath('/root/.fastai/data/adult_sample')

In [0]:
path = Config().data_path()

In [0]:
path = path/'adult_sample'

In [0]:
path.ls()

[PosixPath('/root/.fastai/data/adult_sample/adult.csv'),
 PosixPath('/root/.fastai/data/adult_sample/export.pkl'),
 PosixPath('/root/.fastai/data/adult_sample/models')]

In [0]:
adult_df = pd.read_csv(path/'adult.csv')

In [0]:
# del dataframe - to delete any unwanted dataframes.

In [0]:
adult_df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

In [0]:
# Data looks like a table in a dataframe. This is a very simple usecase.
# But in essence a dataframe of "anything" is still a table with rows and columns.

In [0]:
adult_df.iloc[0:6]

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k
5   20            Private   63210  ...             15   United-States   <50k

[6 rows x 15 columns]

Below are the columns in the dataframe. We will use some columns as input columns. We will use some inputs as Categorical Variables(ones with countable discrete values) and some as Continuous variables(one which are not discrete and can have values ranging from 0 to anything if its a number). 

We are going to predict Salary here and hence that is the output or y variable or dependent variable. 

age	
workclass	
fnlwgt	
education	
education-num	
marital-status	
occupation	
relationship	
race	
sex	
capital-gain	
capital-loss	
hours-per-week	
native-country	
salary

In [0]:
adult_df.shape

(32561, 15)

This says that there are 32561 rows and 15 columns

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

procs are nothing but preprocessors. They are used to do one time activity before loading the data into other data objects further. 

Here we are using FillMissing, Categorify and Normalize. There are many other preprocessors.

In [0]:
data = (TabularList.from_df(adult_df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs))

Below is the definition of TabularList class. It is a subclass of ItemList class. Both are fastai classes

TabularList(items:Iterator[T_co], cat_names:OptStrList=None, cont_names:OptStrList=None, procs=None, **kwargs) → TabularList :: ItemList

In [0]:
type(data)

fastai.tabular.data.TabularList

Fastai TabularList contains multiple types of objects. Below are the details

In [0]:
type(data.get(1))

pandas.core.series.Series

In [0]:
data.get(1)

age                             44
workclass                  Private
fnlwgt                      236746
education                  Masters
education-num                   14
marital-status            Divorced
occupation         Exec-managerial
relationship         Not-in-family
race                         White
sex                           Male
capital-gain                 10520
capital-loss                     0
hours-per-week                  45
native-country       United-States
salary                       >=50k
Name: 1, dtype: object

Pandas Series is a one-dimensional labeled array capable of holding data of any type  and in this case it is a series of objects.

The Dtype object is a pandas datatype. It basically says that there are multiple types of data in that object. 
Age is a number and workclass is a string and so on.

In [0]:
type(data.get(1).workclass)

str

In [0]:
type(data.get(1).age)

numpy.int64

In [0]:
type(data.items)

numpy.ndarray

In [0]:
data.items[1]

1

In [0]:
data.items.shape

(32561,)

Items is a numpy multidimensional array. However in this case it is an one dimensional array.

TabularList object has two more lists, one for Continuous variable and one for Categorical variables.

In [0]:
data.get(data.items[1])

age                             44
workclass                  Private
fnlwgt                      236746
education                  Masters
education-num                   14
marital-status            Divorced
occupation         Exec-managerial
relationship         Not-in-family
race                         White
sex                           Male
capital-gain                 10520
capital-loss                     0
hours-per-week                  45
native-country       United-States
salary                       >=50k
Name: 1, dtype: object

In [0]:
type(data.cat_names)

list

In [0]:
data.cat_names

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race']

In [0]:
type(data.cont_names)

list

In [0]:
data.cont_names

['age', 'fnlwgt', 'education-num']

In [0]:
data2 = data.split_by_idx(list(range(800,1000)))

In [0]:
type(data2)

fastai.data_block.ItemLists

In [0]:
type(data2.train)

fastai.tabular.data.TabularList

In [0]:
type(data2.valid)

fastai.tabular.data.TabularList

In [0]:
data2.valid.cat_names

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race']

In [0]:
data2.valid.cont_names

['age', 'fnlwgt', 'education-num']

In [0]:
data2.train.cat_names

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race']

In [0]:
data2.train.cont_names

['age', 'fnlwgt', 'education-num']

In [0]:
type(data2.train.get(1))

fastai.tabular.data.TabularLine

In [0]:
data2.train.get(1)

age                             44
workclass                  Private
fnlwgt                      236746
education                  Masters
education-num                   14
marital-status            Divorced
occupation         Exec-managerial
relationship         Not-in-family
race                         White
sex                           Male
capital-gain                 10520
capital-loss                     0
hours-per-week                  45
native-country       United-States
salary                       >=50k
Name: 1, dtype: object

In [0]:
data2.valid.get(1)

age                                46
workclass                Self-emp-inc
fnlwgt                         192779
education                 Prof-school
education-num                     NaN
marital-status     Married-civ-spouse
occupation             Prof-specialty
relationship                  Husband
race                            White
sex                              Male
capital-gain                    15024
capital-loss                        0
hours-per-week                     60
native-country          United-States
salary                          >=50k
Name: 801, dtype: object

In [0]:
data3= data2.label_from_df(cols=dep_var)

In [0]:
type(data3)

fastai.data_block.LabelLists

In [0]:
data3.lists

[LabelList (32361 items)
 x: TabularList
 workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511; ,workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; education-num_na False; age 0.3968; fnlwgt 0.4458; education-num 1.5334; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; education-num_na True; age -0.0430; fnlwgt -0.8868; education-num -0.0312; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; education-num_na False; age -0.0430; fnlwgt -0.7288; education-num 1.9245; ,workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; education-num_na True; age 0.2502; fnlwgt -1.0185; education-num -0.0312;
 y: CategoryList
 >=50k,>=50k,<50k,>=50k,<50k
 Path: /root/.fastai/data/adult_sample, LabelList (200 items)
 x: TabularList
 workclass  Private; education  Some-college; marital-status  Divorced; occupation  Handlers-cleaners; relationship  Unmarried; race  White; education-num_na True; age 0.4701; fnlwgt -0.8793; education-num -0.0312; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  White; education-num_na True; age 0.5434; fnlwgt 0.0290; education-num -0.0312; ,workclass  Private; education  Assoc-voc; marital-status  Divorced; occupation #na#; relationship  Not-in-family; race  White; education-num_na True; age -0.1896; fnlwgt 1.7704; education-num -0.0312; ,workclass  Federal-gov; education  Bachelors; marital-status  Never-married; occupation  Tech-support; relationship  Not-in-family; race  White; education-num_na True; age -0.9959; fnlwgt -1.3242; education-num -0.0312; ,workclass  Private; education  Bachelors; marital-status  Married-civ-spouse; occupation #na#; relationship  Husband; race  White; education-num_na True; age -0.1163; fnlwgt -0.2389; education-num -0.0312;
 y: CategoryList
 <50k,>=50k,<50k,<50k,<50k
 Path: /root/.fastai/data/adult_sample]

In [0]:
type(data3.train)

fastai.data_block.LabelList

In [0]:
type(data3.train.x)

fastai.tabular.data.TabularList

In [0]:
type(data3.train.y)

fastai.data_block.CategoryList

In [0]:
data3.train.x[0]

TabularLine workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511;

In [0]:
data3.train.y

CategoryList (32361 items)
>=50k,>=50k,<50k,>=50k,<50k
Path: /root/.fastai/data/adult_sample

In [0]:
data3.train.x[0]

TabularLine workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511;

In [0]:
final_data = data3.databunch()

In [0]:
type(final_data)

fastai.tabular.data.TabularDataBunch

In [0]:
type(final_data.train_dl.x)

fastai.tabular.data.TabularList

In [0]:
type(final_data.train_dl.y)

fastai.data_block.CategoryList

In [0]:
final_data.train_dl.x

TabularList (32361 items)
workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511; ,workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; education-num_na False; age 0.3968; fnlwgt 0.4458; education-num 1.5334; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; education-num_na True; age -0.0430; fnlwgt -0.8868; education-num -0.0312; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; education-num_na False; age -0.0430; fnlwgt -0.7288; education-num 1.9245; ,workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; education-num_na True; age 0.2502; fnlwgt -1.0185; education-num -0.0312;
Path: /root/.fastai/data/adult_sample

In [0]:
final_data.train_dl.y

CategoryList (32361 items)
>=50k,>=50k,<50k,>=50k,<50k
Path: /root/.fastai/data/adult_sample

The below command shows the three Tensors in the Databunch class. Tensors are nothing but multi dimensional matrices. The first two Tensors are for the features. We have a total of 10 features (9 input features and 1 output feature). 
Out of that, 7 are Categorical and 3 are Continouous features in this example. Therefore you see two Tensors of those sizes. 
The third Tensor is for Labels.

In [0]:
next(iter(final_data.train_dl))

[[tensor([[ 5, 12,  3,  4,  1,  5,  1],
          [ 5, 16,  5, 11,  2,  4,  1],
          [ 5, 16,  3,  8,  1,  5,  1],
          [ 5,  2,  3, 13,  1,  5,  1],
          [ 5, 10,  1,  0,  2,  5,  2],
          [ 5, 16,  5,  2,  2,  5,  1],
          [ 5, 10,  4, 11,  2,  2,  1],
          [ 5,  1,  5,  6,  4,  5,  1],
          [ 7, 12,  3,  5,  1,  5,  1],
          [ 5, 12,  5,  8,  2,  5,  1],
          [ 5,  8,  5,  2,  2,  5,  1],
          [ 5, 16,  5,  5,  4,  5,  1],
          [ 5, 10,  5,  2,  2,  5,  1],
          [ 7, 11,  3, 11,  1,  5,  1],
          [ 7, 12,  3,  6,  1,  5,  1],
          [ 5,  2,  3,  4,  1,  5,  1],
          [ 1, 16,  5,  1,  4,  5,  1],
          [ 5, 12,  3,  4,  1,  5,  1],
          [ 1, 12,  3,  1,  1,  5,  1],
          [ 7, 10,  3, 11,  6,  5,  1],
          [ 5, 16,  3, 13,  1,  5,  1],
          [ 5, 10,  3, 14,  1,  5,  1],
          [ 5, 12,  5,  8,  4,  5,  1],
          [ 5, 12,  3,  5,  1,  5,  1],
          [ 5,  9,  3,  8,  1,  5,  1],
          [ 5,  3,  1,  8,  2,  5,  1],
          [ 8, 12,  3,  6,  1,  5,  1],
          [ 5, 12,  3,  4,  1,  5,  1],
          [ 5, 16,  5,  8,  4,  5,  1],
          [ 6, 16,  1,  5,  2,  5,  1],
          [ 5,  1,  5,  9,  4,  5,  1],
          [ 6, 12,  3, 13,  1,  5,  1],
          [ 5,  2,  5,  6,  5,  5,  1],
          [ 5, 12,  3,  5,  1,  5,  1],
          [ 5, 12,  1, 13,  2,  5,  1],
          [ 5,  1,  3,  8,  1,  5,  1],
          [ 5, 16,  5, 13,  4,  5,  1],
          [ 5, 10,  5,  2,  4,  5,  1],
          [ 5, 10,  5, 14,  3,  2,  1],
          [ 3, 10,  5, 11,  2,  5,  1],
          [ 5, 16,  5, 13,  5,  5,  1],
          [ 5, 12,  3, 15,  1,  5,  1],
          [ 5, 12,  1,  2,  2,  5,  1],
          [ 5, 10,  3, 11,  1,  5,  1],
          [ 7, 16,  5,  9,  2,  5,  1],
          [ 5, 12,  3,  0,  1,  5,  1],
          [ 8, 12,  3, 14,  1,  5,  1],
          [ 5, 10,  5,  5,  2,  5,  1],
          [ 5, 13,  3, 11,  1,  5,  1],
          [ 5,  1,  1, 15,  2,  5,  1],
          [ 5, 12,  1,  4,  5,  5,  1],
          [ 5, 15,  3, 11,  1,  5,  1],
          [ 2, 16,  3, 14,  1,  5,  1],
          [ 5, 12,  3,  7,  1,  5,  1],
          [ 5, 12,  1,  2,  5,  5,  1],
          [ 3, 10,  3, 11,  6,  5,  1],
          [ 8, 12,  1, 12,  2,  5,  1],
          [ 2, 12,  1,  2,  2,  3,  1],
          [ 5, 16,  3, 13,  1,  5,  1],
          [ 8, 10,  3, 12,  1,  3,  1],
          [ 5, 13,  3,  5,  1,  5,  1],
          [ 5, 12,  5,  8,  2,  5,  1],
          [ 5, 10,  3,  5,  1,  5,  1],
          [ 5, 16,  3, 15,  1,  5,  1]], device='cuda:0'),
  tensor([[ 9.8314e-01, -8.6401e-01, -4.2235e-01],
          [-9.2263e-01, -5.3983e-02, -3.1209e-02],
          [-1.1634e-01,  4.4816e-01, -3.1209e-02],
          [ 1.4229e+00, -3.9832e-01, -1.2046e+00],
          [ 6.1665e-01, -2.6328e-01, -3.1209e-02],
          [-1.3624e+00, -6.4047e-01, -3.1209e-02],
          [ 1.0356e-01, -6.4246e-01,  1.1422e+00],
          [-1.5090e+00, -3.6568e-01, -1.5958e+00],
          [ 1.7685e-01,  4.1157e-01, -4.2235e-01],
          [-1.0692e+00, -1.3032e+00, -4.2235e-01],
          [-1.2158e+00,  1.0048e-01,  7.5108e-01],
          [-1.1425e+00, -3.5451e-01, -3.1209e-02],
          [-7.7603e-01,  8.0559e-01,  1.1422e+00],
          [-5.5614e-01, -1.0305e+00,  2.3157e+00],
          [ 1.8627e+00, -1.4483e+00, -4.2235e-01],
          [-1.8964e-01, -6.3113e-01, -1.2046e+00],
          [-1.4357e+00, -5.1904e-01, -3.1209e-02],
          [-1.1634e-01, -6.5541e-01, -4.2235e-01],
          [ 1.4229e+00, -2.9494e-01, -4.2235e-01],
          [ 3.2345e-01,  1.9629e+00,  1.1422e+00],
          [ 9.0985e-01,  1.3982e+00, -3.1209e-02],
          [-7.0273e-01, -3.8406e-01,  1.1422e+00],
          [-1.2891e+00,  3.9187e-01, -4.2235e-01],
          [ 1.2763e+00, -7.2889e-01, -4.2235e-01],
          [-7.7603e-01,  1.8355e+00,  3.5994e-01],
          [ 1.2030e+00, -9.5319e-01, -8.1350e-01],
          [ 1.8627e+00, -7.9613e-01, -4.2235e-01],
          [ 2.5015e-01,  2.5230e-02, -4.2235e-01],
          [-1.1425e+00,  3.3405e-01, -3.1209e-02],
          [ 1.0564e+00, -3.0186e-01, -3.1209e-02],
          [-1.5823e+00,  7.2447e-01, -1.5958e+00],
          [ 1.4962e+00, -8.1319e-01, -4.2235e-01],
          [-1.0692e+00,  3.7614e-01, -1.2046e+00],
          [-7.0273e-01,  1.0626e-01, -4.2235e-01],
          [ 2.5015e-01, -8.7254e-01, -4.2235e-01],
          [ 1.0356e-01, -1.5561e-01, -1.5958e+00],
          [-1.2158e+00,  1.8228e-01, -3.1209e-02],
          [-2.6294e-01, -5.3120e-02,  1.1422e+00],
          [-8.4933e-01,  1.3344e+00,  1.1422e+00],
          [-6.2944e-01, -6.7523e-01,  1.1422e+00],
          [-1.2891e+00, -6.6381e-01, -3.1209e-02],
          [ 6.1665e-01, -2.8437e-01, -4.2235e-01],
          [-8.4933e-01, -6.7239e-01, -4.2235e-01],
          [ 7.6325e-01, -1.2843e+00,  1.1422e+00],
          [-1.0692e+00, -8.2273e-01, -3.1209e-02],
          [ 8.3655e-01, -5.8063e-01, -4.2235e-01],
          [ 6.1665e-01, -8.1833e-01, -4.2235e-01],
          [-9.2263e-01, -1.1669e+00,  1.1422e+00],
          [ 3.9675e-01, -3.6625e-01,  1.5334e+00],
          [ 2.1559e+00,  7.9996e-01, -1.5958e+00],
          [-1.8964e-01,  1.3271e-01, -4.2235e-01],
          [ 3.2345e-01,  2.5832e+00,  1.9245e+00],
          [ 1.5695e+00, -5.7208e-01, -3.1209e-02],
          [-7.7603e-01, -1.1293e+00, -4.2235e-01],
          [ 5.4335e-01, -2.7728e-01, -4.2235e-01],
          [-7.0273e-01,  2.8619e-01,  1.1422e+00],
          [ 1.7685e-01,  1.6712e+00, -4.2235e-01],
          [ 1.0356e-01, -1.0415e-03, -4.2235e-01],
          [ 1.7685e-01, -7.0318e-02, -3.1209e-02],
          [-4.3043e-02,  1.2246e+00,  1.1422e+00],
          [ 5.4335e-01,  1.3968e+00,  1.5334e+00],
          [-1.1634e-01, -5.8553e-01, -4.2235e-01],
          [-8.4933e-01, -7.2970e-01,  1.1422e+00],
          [ 4.7005e-01,  4.7899e-02, -3.1209e-02]], device='cuda:0')],
 tensor([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
         1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
         1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0], device='cuda:0')]

In [0]:
final_data.save('databunch.pkl')

In [0]:
final_data.train_ds[0]

LabelList (32361 items)
x: TabularList
workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511; ,workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; education-num_na False; age 0.3968; fnlwgt 0.4458; education-num 1.5334; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; education-num_na True; age -0.0430; fnlwgt -0.8868; education-num -0.0312; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; education-num_na False; age -0.0430; fnlwgt -0.7288; education-num 1.9245; ,workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; education-num_na True; age 0.2502; fnlwgt -1.0185; education-num -0.0312;
y: CategoryList
>=50k,>=50k,<50k,>=50k,<50k
Path: /root/.fastai/data/adult_sample

In [0]:
final_data.train_ds[0]

(TabularLine workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511; ,
 Category >=50k)

In [0]:
final_data.train_dl

DeviceDataLoader(dl=<torch.utils.data.dataloader.DataLoader object at 0x7fe93af0d748>, device=device(type='cuda'), tfms=[], collate_fn=<function data_collate at 0x7fe93ddc2a60>)

In [0]:
final_data.train_ds[0:10]

LabelList (10 items)
x: TabularList
age                            0.763248
workclass                       Private
fnlwgt                        -0.838107
education                    Assoc-acdm
education-num                  0.751083
marital-status       Married-civ-spouse
occupation                          NaN
relationship                       Wife
race                              White
sex                              Female
capital-gain                          0
capital-loss                       1902
hours-per-week                       40
native-country            United-States
salary                            >=50k
education-num_na                  False
Name: 0, dtype: object,age                         0.396752
workclass                    Private
fnlwgt                      0.445849
education                    Masters
education-num                1.53338
marital-status              Divorced
occupation           Exec-managerial
relationship           Not-in-family
race                           White
sex                             Male
capital-gain                   10520
capital-loss                       0
hours-per-week                    45
native-country         United-States
salary                         >=50k
education-num_na               False
Name: 1, dtype: object,age                     -0.0430426
workclass                  Private
fnlwgt                   -0.886792
education                  HS-grad
education-num           -0.0312085
marital-status            Divorced
occupation                     NaN
relationship             Unmarried
race                         Black
sex                         Female
capital-gain                     0
capital-loss                     0
hours-per-week                  32
native-country       United-States
salary                        <50k
education-num_na              True
Name: 2, dtype: object,age                          -0.0430426
workclass                  Self-emp-inc
fnlwgt                        -0.728821
education                   Prof-school
education-num                   1.92452
marital-status       Married-civ-spouse
occupation               Prof-specialty
relationship                    Husband
race                 Asian-Pac-Islander
sex                                Male
capital-gain                          0
capital-loss                          0
hours-per-week                       40
native-country            United-States
salary                            >=50k
education-num_na                  False
Name: 3, dtype: object,age                            0.250154
workclass              Self-emp-not-inc
fnlwgt                         -1.01846
education                       7th-8th
education-num                -0.0312085
marital-status       Married-civ-spouse
occupation                Other-service
relationship                       Wife
race                              Black
sex                              Female
capital-gain                          0
capital-loss                          0
hours-per-week                       50
native-country            United-States
salary                             <50k
education-num_na                   True
Name: 4, dtype: object
y: CategoryList
>=50k,>=50k,<50k,>=50k,<50k
Path: /root/.fastai/data/adult_sample

Below is the data that can be sent to a Learner. In fact the data in the Tensors is what is sent to the Learner because the equations understand numbers and not values.

In [0]:
final_data.show_batch(rows=10)

In [0]:
final_data.sanity_check

<bound method DataBunch.sanity_check of TabularDataBunch;

Train: LabelList (32361 items)
x: TabularList
workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; education-num_na False; age 0.7632; fnlwgt -0.8381; education-num 0.7511; ,workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; education-num_na False; age 0.3968; fnlwgt 0.4458; education-num 1.5334; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; education-num_na True; age -0.0430; fnlwgt -0.8868; education-num -0.0312; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; education-num_na False; age -0.0430; fnlwgt -0.7288; education-num 1.9245; ,workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; education-num_na True; age 0.2502; fnlwgt -1.0185; education-num -0.0312;
y: CategoryList
>=50k,>=50k,<50k,>=50k,<50k
Path: /root/.fastai/data/adult_sample;

Valid: LabelList (200 items)
x: TabularList
workclass  Private; education  Some-college; marital-status  Divorced; occupation  Handlers-cleaners; relationship  Unmarried; race  White; education-num_na True; age 0.4701; fnlwgt -0.8793; education-num -0.0312; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  White; education-num_na True; age 0.5434; fnlwgt 0.0290; education-num -0.0312; ,workclass  Private; education  Assoc-voc; marital-status  Divorced; occupation #na#; relationship  Not-in-family; race  White; education-num_na True; age -0.1896; fnlwgt 1.7704; education-num -0.0312; ,workclass  Federal-gov; education  Bachelors; marital-status  Never-married; occupation  Tech-support; relationship  Not-in-family; race  White; education-num_na True; age -0.9959; fnlwgt -1.3242; education-num -0.0312; ,workclass  Private; education  Bachelors; marital-status  Married-civ-spouse; occupation #na#; relationship  Husband; race  White; education-num_na True; age -0.1163; fnlwgt -0.2389; education-num -0.0312;
y: CategoryList
<50k,>=50k,<50k,<50k,<50k
Path: /root/.fastai/data/adult_sample;

Test: None>

This data is now in a format that can be sent to a Learner Module.